<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>타 유저 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/followPage.js}"></script>
</head>
<body>

<h1>User Detail</h1>
<section class="container mt-5">
    <p>팔로워: <span id="followerCount"></span>명</p>
    <a href="#" id="followerLink" class="btn btn-info" data-toggle="modal" data-target="#followerModal">팔로워 목록 보기</a>

    <p>팔로잉: <span id="followingCount"></span>명</p>
    <a href="#" id="followingLink" class="btn btn-info" data-toggle="modal" data-target="#followingModal">팔로잉 목록 보기</a>

    <!-- 팔로워 목록 모달 -->
    <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="followerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="followerModalLabel">팔로워 목록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="followerList"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 팔로잉 목록 모달 -->
    <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="followingModalLabel">팔로잉 목록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="followingList"></div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
