<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <style>
    .body-img {
      background: url("/img/signup-bg.png");
      background-size: cover;
    }
  </style>
</head>
<body class="body-img">
<section class="d-flex justify-content-center align-items-center" style="height: 100dvh">
  <form th:action="@{/api/auth/signup}" method="POST" onsubmit="return validateForm()">
  <div class="card bg-dark m-5 p-5" style="border-radius: 1rem;" id="signupStep1">
    <div class="card-body p-5 text-white">
      <h2 class="text-white">SIGN UP</h2>
      <p class="text-white-50 mt-2 mb-5">서비스 사용을 위해 회원 가입을 진행해주세요.</p>
    </div>
      <div class="mb-3">
        <label class="form-label text-white">이메일</label>
        <input type="email" class="form-control input-focus-color" name="email" placeholder="user@example.com" required id="emailInput">
        <div id="emailMessage"></div>
      </div>
      <div class="mb-3">
        <label class="form-label text-white">비밀번호</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required>
      </div>
      <div class="mb-3">
        <label class="form-label text-white">비밀번호 확인</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 재입력" required onkeyup="checkPasswordMatch()">
        <div id="passwordMessage"></div>
      </div>
      <div class="mb-3">
        <label class="form-label text-white">이름</label>
        <input type="text" class="form-control" name="name" placeholder="이름 입력" required>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" id="nextButton">다음으로</button>
      </div>
    </div>
    <div class="card bg-dark p-5 m-5" style="border-radius: 1rem; display: none;" id="signupStep2">
      <div class="card-body p-5 text-white">
        <h2 class="text-white">SIGN UP</h2>
        <p class="text-white-50 mt-2 mb-5">서비스 사용을 위해 회원 가입을 진행해주세요.</p>
      </div>
        <div class="mb-3">
          <label class="form-label text-white">휴대전화 번호</label>
          <input type="tel" class="form-control" name="phone" placeholder="휴대전화 번호 입력" required>
        </div>
        <div class="mb-3">
          <label class="form-label text-white">닉네임</label>
          <input type="text" class="form-control" id="nicknameInput" name="nickname" placeholder="닉네임 입력" required onblur="delayedCheckNickname()">
          <div id="nicknameMessage"></div>
        </div>
        <div class="mb-3">
          <label for="dropdown" class="form-label text-white">성별을 선택하세요</label>
          <select id="dropdown" name="gender" class="form-control">
            <option value="0">남</option>
            <option value="1">여</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="dob" class="form-label text-white">생년월일</label>
          <input class="form-control" type="date" id="dob" name="birth" required>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" id="prevButton">이전으로</button>
          <button type="submit" class="btn btn-success">가입하기</button>
        </div>
    </div>
  </form>
</section>

<script>
  document.getElementById('nextButton').addEventListener('click', function() {
    document.getElementById('signupStep1').style.display = 'none';
    document.getElementById('signupStep2').style.display = 'block';
  });

  document.getElementById('prevButton').addEventListener('click', function() {
    document.getElementById('signupStep2').style.display = 'none';
    document.getElementById('signupStep1').style.display = 'block';
  });
</script>
</body>
<script>
  let emailTimeout;

  document.getElementById('emailInput').addEventListener('input', function() {
    clearTimeout(emailTimeout);
    emailTimeout = setTimeout(checkEmailAvailability, 1000);
  });

  function checkEmailAvailability() {
    var email = document.getElementById("emailInput").value;
    var emailInput = document.getElementById("emailInput");
    var emailMessage = document.getElementById("emailMessage");

    if (email) {
      fetch('/api/auth/check-email?email=' + encodeURIComponent(email))
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          emailInput.style.borderColor = "red";
          emailInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
          emailMessage.style.color = "red";
          emailMessage.textContent = data.error;
        } else {
          emailInput.style.borderColor = "green";
          emailInput.style.boxShadow = "0 0 0 0.25rem rgba(40, 167, 69, 0.25)";
          emailMessage.style.color = "green";
          emailMessage.textContent = data.message;
        }
      })
      .catch(error => {
        console.error('Error:', error);
        emailInput.style.borderColor = "red";
        emailInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
        emailMessage.style.color = "red";
        emailMessage.textContent = "서버 오류가 발생했습니다.";
      });
    } else {
      emailInput.style.borderColor = "";
      emailInput.style.boxShadow = "";
      emailMessage.textContent = "";
    }
  }

  let nicknameCheckTimeout;

  function delayedCheckNickname() {
    if (nicknameCheckTimeout) {
      clearTimeout(nicknameCheckTimeout);
    }

    nicknameCheckTimeout = setTimeout(function() {
      checkNicknameAvailability();
    }, 1000);
  }

  function checkNicknameAvailability() {
    var nickname = document.getElementById("nicknameInput").value;
    var nicknameInput = document.getElementById("nicknameInput");
    var nicknameMessage = document.getElementById("nicknameMessage");

    if (nickname) {
      fetch('/api/auth/check-nickname?nickname=' + encodeURIComponent(nickname))
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          nicknameInput.style.borderColor = "red";
          nicknameInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
          nicknameMessage.style.color = "red";
          nicknameMessage.textContent = data.error;
        } else {
          nicknameInput.style.borderColor = "green";
          nicknameInput.style.boxShadow = "0 0 0 0.25rem rgba(40, 167, 69, 0.25)";
          nicknameMessage.style.color = "green";
          nicknameMessage.textContent = data.message;
        }
      })
      .catch(error => {
        console.error('Error:', error);
        nicknameInput.style.borderColor = "red";
        nicknameInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
        nicknameMessage.style.color = "red";
        nicknameMessage.textContent = "서버 오류가 발생했습니다.";
      });
    } else {
      nicknameInput.style.borderColor = "";
      nicknameInput.style.boxShadow = "";
      nicknameMessage.textContent = "";
    }
  }

  // 비밀번호 일치 확인
  function checkPasswordMatch() {
    const passwordInput = document.getElementById("password");
    const confirmPasswordInput = document.getElementById("confirmPassword");
    let password = document.getElementById("password").value;
    let confirmPassword = document.getElementById("confirmPassword").value;
    const message = document.getElementById("passwordMessage");

    if (password === confirmPassword) {
      message.style.color = "green";
      message.textContent = "비밀번호가 일치합니다.";
      passwordInput.style.borderColor = "green";
      passwordInput.style.boxShadow = "0 0 0 0.25rem rgba(40, 167, 69, 0.25)";
      confirmPasswordInput.style.borderColor = "green";
      confirmPasswordInput.style.boxShadow = "0 0 0 0.25rem rgba(40, 167, 69, 0.25)";
      return true;
    } else {
      message.style.color = "red";
      message.textContent = "비밀번호가 일치하지 않습니다.";
      passwordInput.style.borderColor = "red";
      passwordInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
      confirmPasswordInput.style.borderColor = "red";
      confirmPasswordInput.style.boxShadow = "0 0 0 0.25rem rgba(255, 0, 0, 0.25)";
      return false;
    }
  }
  // 폼 제출 전 검증
  function validateForm() {
        if (!checkPasswordMatch()) {
      return false;
    }
    return true;
  }
</script>
</html>